.issue-detail {
  &-meta {
    .head {
      margin: 0;
      color: black;
      font-weight: 500;
    }
    .content {
      padding: 10px 0 10px 10px;
    }
    .progress {
      width: 80%;
    }
    .operate {
      margin-bottom: 10px;
    }
  }
}