.task-header {
  display: flex;
  .task-progress {
    flex: 1;
  }
}
.task-content {
  display: flex;
  .task-column {
    flex: 1;
    min-height: 250px;
    margin-right: 10px;
    background: #f5f5f5;
  }
}
.can-drop {
  border: 1px dashed blue;
}
.dragover {
  border: 1px dashed green;
}
