.task-header {
  display: flex;
  .task-progress {
    flex: 1;
  }
}
.task-content {
  display: flex;
  .task-column {
    flex: 1;
    min-height: 250px;
    margin-right: 10px;
    background: #f5f5f5;
  }
  .task {
    min-height: 50px;
    background-color: white;
    box-shadow: 0 0 0 0.5px rgba(6, 8, 40, 0.2);
    user-select: none;
  }
}
.dragover {
  border: 1px dashed blue;
}
