.draggable-table {
  width: 100%;
  &-head {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
    background-color: #fafafa;
    .title {
      padding: 10px;
    }
  }
  &-body {
    tr {
      box-shadow: 0 1px 0 0 #e8e8e8;
      cursor: move;
      &:hover {
        background-color: rgb(230, 247, 255);
      }
    }
    td {
      padding: 10px;
    }
  }
}
.drag-up {
  box-shadow: none;
  border-top: 2px dashed blue;
}

.drag-down {
  box-shadow: none;
  border-bottom: 2px dashed blue;
}
